/* styles.css */
body {
    background: linear-gradient(to bottom right, #d4fc79, #96e6a1);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

.description {
    color: #2c3e50;
    margin-bottom: 20px;
}

button {
    background-color: #2d6a4f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #27ae60;
}

.hidden {
    display: none;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

.gender-switch {
    margin-bottom: 20px;
}

#resultSection h1 {
    margin-top: 15px;
    margin-bottom: 12px;
    color: #2c3e50;
}

#resultSection p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #081c15;
}
